# Q1

In [18]:
print("""Twinkle, twinklen little star,
\tHow I wonder what you are!
\t\tUp above the world so high,
\t\tLike a diamondin the sky.
Twinkle, twinklen little star,
\tHow I wonder what you are!""")

Twinkle, twinklen little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamondin the sky.
Twinkle, twinklen little star,
	How I wonder what you are!

# Q2

In [6]:
import sys
print(sys.version)
#sys.version_info

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

# Q3

In [7]:
#from datetime import date as dt
#today = dt.today()
#print(today)

from datetime import datetime as dt
now = dt.now()
print(now)

2019-11-28 22:01:33.435662

# Q4

In [8]:
import math

radius = int(input("Enter radius : "))
area = (math.pi)*(math.pow(radius,2))
print("The area is ",area)

Enter radius : 2
The area is  12.566370614359172

# Q5

In [9]:
firstName = input("Enter your first name : ")
lastName = input("Enter your last name : ")

print(lastName + " " + firstName)

Enter your first name : taha
Enter your last name : khan
khan taha

# Q6

In [10]:
num1 = int(input("Enter number 1 : "))
num2 = int(input("Enter number 2 : "))

#print("sum = ",num1+num2)
print("sum = {}".format(num1+num2))

Enter number 1 : 2
Enter number 2 : 1
sum = 3